.container.mb-5
	%h3 Servicios
	%p.lead Categorias
	%hr/
	.row

		- @services.each do |service|

			.col-md-9.col-12
				.row.mb-5
					.col-3
						%img.img-fluid
							=image_tag service.avatar.url(:thumb),height:130
						%p.lead.text-center
							=service.created_at.strftime("%b %d, %Y")
					.col-md-9
						.row
							.col
								%a{:href => "/services/#{service.id}"}
									%h3
										=service.name
								%b="Categoría:"
								%a{:href => ""}
									%span.badge.badge-primary
										=service.category.name

								%p 
									=service.detail
								%a.btn.btn-warning.btn-sm{:href => "/services/#{service.id}"} Leer mas...
								- if current_user.type_user == "administrador"
									%p
										= link_to 'Edit', edit_service_path(service)
										= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }
										=# link_to 'Show', service
	/ aside
	.col-md-3.col-12.ml-auto
		/ Cards
		.card.card-inverse.card-primary.mb-3.text-center
			.card-block
				%blockquote.card-blockquote
					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
					%footer
						Someone famous in
						%cite{:title => "Source Title"} Source Title

%br

= link_to 'New Service', new_service_path
