%p#notice= notice

%img.img-fluid
	=image_tag @service.avatar.url(:thumb),height:200
%p
	%b Name:
	= @service.name
%p
	%b Detail:
	= @service.detail
%p
	%b Openhour:
	= @service.openhour
%p
	%b Closehour:
	= @service.closehour
	
- if @service.cost.present?
	%p
		%b Costo:
		= '$'
		= @service.cost
		= ' pesos'
-if @service.cost.present? and current_user.present?
	%a.btn.btn-warning{:href => "/payments/new?service_id=#{@service.id}&cost=#{@service.cost}"} Pagar servicio
-if current_user.present? and @service.cost == nil
	%a.btn.btn-warning{:href => "/contracts/new?service_id=#{@service.id}"} Contratar servicio
\|
= link_to 'Back', services_path,class:"btn btn-danger"
=# link_to 'Edit', edit_service_path(@service)