= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
	= devise_error_messages!
	
	%div
		= f.label :name
		= f.text_field :name, autocomplete: "name"
	%div
		= f.label :last_name
		= f.text_field :last_name, autocomplete: "username"
	%div
		= f.label :email
		= f.email_field :email, autocomplete: "username"
	%div
		= f.label :password
		= f.password_field :password, autocomplete: "username"
	%div
		= f.label :password_confirmation
		= f.password_field :password_confirmation, autocomplete: "username"
	.top-space
		.row.middle-xs
			=grid xs:6, md:6 do
				=f.submit "Registrar"
			=grid xs:6, md:6 do
				=link_to "Ya tengo cuenta", new_user_session_path