%p#notice= notice

%p
  %b Amount:
  = @payment.amount
%p
  %b User:
  = @payment.user
%p
  %b Service:
  = @payment.service

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
